:root {
  --text-color: #f1faee;
  --color: #008f11;
  --background: #2a312d;
  --backgroundAlt: #111;
  --highlight: #00d435;
  --contrastLight: #f4a261;
  --contrastDark: #e76f51;
  --sidebarWidth: 145px;
  --sectionMargin: 2em;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

html, body {
  background-color: var(--background);
  color: var(--text-color);
}

.sidebar {
  position: fixed;
  display: none;
  background-color: var(--background);
  color: var(--text-color);
  border-right: 5px solid var(--highlight);
  border-bottom: 5px solid var(--highlight);
  width: var(--sidebarWidth);
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 0;
  transition: ease-in;
  padding: 5px;
}

.nav-title {
  text-decoration: underline;
  padding: .13em .33em;
}

.nav-item {
  padding: .13em;
  text-align: left;
  list-style: square inside;
  border-top: 1px solid var(--color);
}

.nav-item:last-child {
  border-bottom: 1px solid var(--color);
}

.nav-item-a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-btn {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--highlight);
  padding: 0 2px;
  height: 2em;
  width: 2em;
  border: none;
}

canvas {
  display: block;
  width: auto;
  margin: 2em auto;
  border: 4px var(--highlight) groove;
  border-radius: 25px 0px 25px 0px;
}

.parent {
  display: grid;
  grid-template-rows: max(85vh, 100%) auto;
}

.section {
  width: auto;
  margin: var(--sectionMargin);
  padding: 1em;
  transition: 0.5s;
  border: var(--highlight) 4px groove;
}

#terminal-section {
  border: none;
}

#background-canvas {
  /* z-index: -1; */
}

.main-title {
  text-decoration: underline;
  font-size: min(6vw, 4em);
  text-align: center;
  padding-bottom: 15px;
}

.subtitle {
  text-decoration: underline;
  font-size: min(4vw, 2em);
  text-indent: 2em;
  padding-bottom: 5px;
}

.subtitle-synopsis {
  text-indent: 6em;
  font-size: min(2vw, 1em);
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px var(--highlight) groove;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
}

.intro-text p {
  font-style: italic;
}

.main-text {
  display: block;
  padding: 0.5em 0em;
  font-size: 1em;
  text-indent: 2em;
  text-rendering: optimizeLegibility;
}

.inline-subtitle {
  font-style: italic;
  font-weight: bold;
}

.intext-link, .intext-link:link, .intext-link:visited {
  text-decoration: none;
  color: var(--text-color);
  font-style: normal;
}

.intext-link:hover {
  text-decoration: underline;
  font-style: inherit;
  font-weight: bold;
}

.main-footer {
  background-color: rgba(0, 0, 0, 0.1);
  text-indent: 2em;
  transition: 0.5s;
  padding: 5px 2em;
}

.footer-text {
  font-size: .87em;
  opacity: 0.8;
}

/* Kindly borrowed from stackoverflow */

.wrap {
  width: 400px;
  height: 400px;
  padding: 0;
  overflow: hidden;
  margin: 1em auto;
}

.frame {
  width : 100%;
  height : 100%;
}