/* CSS just for the test form, not to be seen by the public site */

.testForm {
    display: inline-block;
    text-align: right;
    width: max(30%, 250px);
    margin: 5px auto 5px 5px;
    border: 2px red solid;
  }
  
  .submitButton {
    display: inline;
    margin: auto 5px;
    border-radius: 0%;
    border-style: none;
    text-align: left;
  }