<div class="sidebar" id="sidebar">
    <div class="nav">
      <h1 class="nav-title">Main Page</h1>
      <nav>
        <ul>
          <li class="nav-item"><a href="index.php" class="nav-item-a">Top Page</a></li>
          <li class="nav-item"><a href="about.php" class="nav-item-a">About Me</a></li>
          <li class="nav-item"><a href="programming.php" class="nav-item-a">Programming</a></li>
          <li class="nav-item"><a href="dandd.php" class="nav-item-a">D&D</a></li>
          <li class="nav-item"><a href="materium_existentiae.php" class="nav-item-a">The Materium Existentiae</a></li>
          <li class="nav-item"><a href="survey.php" class="nav-item-a">Visitor Survey</a></li>
          <li class="nav-item"><a href="statistics.php" class="nav-item-a">Survey Statistics</a></li>
          <li class="nav-item"><a href="https://www.github.com/Tamillis" class="nav-item-a" target="_blank">Github</a>
          </li>
          <li class="nav-item"><a href="mailto:bellaby1993@gmail.com?subject=Enquiry for Peter Bellaby"
              class="nav-item-a">Email Me</a></li>
        </ul>
      </nav>
    </div>
  </div>